@font-face {
  font-family: logoFont;
  src: url(/fonts/gt-pressura-mono-light.woff2);
}
@font-face {
  font-family: maisonNeueBook;
  src: url(/fonts/MaisonNeue-Book.woff2);
}
@font-face {
  font-family: maisonNeueLight;
  src: url(/fonts/MaisonNeue-Light.woff2);
}
@font-face {
  font-family: maisonNeueMedium;
  src: url(/fonts/MaisonNeue-Medium.woff2);
}
@font-face {
  font-family: perfectlyNineties;
  src: url(/fonts/PerfectlyNineties-Regular.woff2);
}

body {
  font-family: maisonNeueLight;
  color: #2a2a2a;
}

a {
  outline: none;
  text-decoration: none;
  color: #2a2a2a;
}
/* MAIN NAV */

.site__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  align-items: baseline;
}
.site__header > h1 {
  font-family: logoFont;
  font-size: 5vh;
  margin: 5vh;
}
.site__header > nav {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-family: maisonNeueBook;
  font-size: 2vh;
  margin: 5vh;
}

/* PRODUCT LIST */

.container {
  width: 90%;
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.procuct-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
}
